/*!
Theme Name: Graduations
Theme URI: https://somosbloom.com/
Author: Bloom Studio
Author URI: https://somosbloom.com/
Description: Developed by bloom
Version: 1.0.0
Text Domain: graduations
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Global
# Typography
# Forms
# Elements
# Navigation
# Footer
# Content
	# Login
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Global
--------------------------------------------------------------*/
@import 'global/summernote-bs4';

$color--highlight: #626ed4;
$color--background: #333547;

html {
    overflow-x: hidden;
    position: relative;
    min-height: 100%;
}

body {
    background-color: #f8f8fa;
    color: #5b626b;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.wrapper {
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.content-page {
    margin-left: 240px;
    overflow: hidden;
    .content {
        padding: 0 15px 10px 15px;
        margin-top: 70px;
        margin-bottom: 60px;
    }
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
.gform_wrapper {
    .gform_fields {
        list-style: none;
        margin: 0;
        padding: 0;
        margin-left: -15px;
        margin-right: -15px;
        display: flex;
        flex-wrap: wrap;
        .gfield {
            input,
            select {
                display: block;
                width: 100%;
                height: calc(1.5em + .75rem + 2px);
                padding: .375rem .75rem;
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.5;
                color: #495057;
                background-color: #fff;
                background-clip: padding-box;
                border: 1px solid #ced4da;
                border-radius: .25rem;
                transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            }
            textarea {
                height: auto;
            }
        }
    }
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
table {
    tbody {
        th {
            font-weight: 400;
            white-space: nowrap;
        }
    }
}

.btn {
    border-radius: 3px;
    font-size: 14px;
    &.btn-primary {
        background-color: $color--highlight;
        border: 1px solid $color--highlight;
    }
}

.topbar {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    .topbar-left {
        background: $color--background;
        text-align: center;
        height: 70px;
        position: relative;
        width: 240px;
        z-index: 1;
        .logo {
            line-height: 70px;
        }
    }
    .navbar-custom {
        background-color: #ececf1;
        border-radius: 0;
        margin-bottom: 0;
        padding: 0 10px 0 0;
        width: calc(100% - 240px);
        min-height: 70px;
    }
}

.sidebar {
    width: 240px;
    background-color: $color--background;
    position: fixed;
    top: 70px;
    bottom: 0;
    .sidebar-menu {
        padding: 0;
        li {
            a {
                color: #8699ad;
                display: block;
                padding: 12.5px 20px;
                transition: all 0.3s ease-in-out;
                &:hover {
                    color: #b4c9de;
                    text-decoration: none;
                }
            }
            &.current-menu-item,
            &.current-page-ancestor {
                a {
                    color: #b4c9de;
                    background-color: #383b4e;
                }
            }
        }
    }
}

.page-title-box {
    padding: 20px 0;
    .page-title {
        font-size: 18px;
        margin: 0;
        line-height: 30px;
        font-weight: 700;
    }
}
/*--------------------------------------------------------------
# Content | Login
--------------------------------------------------------------*/
.p-login,
.p-register {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}